.manage_content_sidebar_top {
  background-color: #3949A3;
}

.manage_content_sidebar_top_heading {
  line-height: 96px;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 300;
}

.manage_content_sidebar_events {
  background-color: rgba(0, 0, 0, 0.05);
  min-height: 100vh;
  height: 100%;
}
